.thumbnail img{
	width: 100%;
}

#bigImage {
 	padding:0;
}

.thumbnail.caption-full P{
	padding: 9px;
}

#delete-form{
	display:inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}